@{
    ViewBag.Title = "About";
}

<h2>About</h2>

<p>Text Book Trader started in 2013 as a group of students from the University of Louisville grew tired 
    of the overly expensive text book prices. While solutions such as Amazon already existed, they wanted
     to be able to trade, buy, and sell textbooks locally.
</p>
