@{
    ViewBag.Title = "Home Page";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h1>@Html.Partial("_Search")</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>
                Welcome to Text Book Trader! Have unwanted text books lying around? Trying to find a good deal
                on next semester's books? Check listings from students just like you!
            </p>
        </div>
    </section>
}

